Edit_Image.json
{
  "name": "Edit Image",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "image"
            },
            {
              "name": "request"
            },
            {
              "name": "chatID"
            },
            {
              "name": "pictureID"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -940,
        200
      ],
      "id": "28a371ca-e2d5-457c-bfb4-5a8db80530e0",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/edits",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer "
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "data"
            },
            {
              "name": "prompt",
              "value": "={{ $('When Executed by Another Workflow').item.json.request.replace(/\"/g, '') }}"
            },
            {
              "name": "model",
              "value": "gpt-image-1"
            },
            {
              "name": "size",
              "value": "1024x1024"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -420,
        200
      ],
      "id": "6140fc60-13ed-4708-bc52-9225caf4527c",
      "name": "Edit Image"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data[0].b64_json",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -200,
        200
      ],
      "id": "43e1de9e-eb9b-4d82-a68b-d526a68f1c13",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1aGVv6rHJaiRpmRwkXJILTRX-ydgURR6-54En9Z8H9EQ",
          "mode": "list",
          "cachedResultName": "Marketing Team Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aGVv6rHJaiRpmRwkXJILTRX-ydgURR6-54En9Z8H9EQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 735492995,
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aGVv6rHJaiRpmRwkXJILTRX-ydgURR6-54En9Z8H9EQ/edit#gid=735492995"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Request": "={{ $('When Executed by Another Workflow').item.json.request }}",
            "ID": "={{ $json.id }}",
            "Link": "={{ $json.webViewLink }}",
            "Title": "={{ $('When Executed by Another Workflow').item.json.image }}",
            "Type": "Edit"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Request",
              "displayName": "Request",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Post",
              "displayName": "Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        340,
        340
      ],
      "id": "509d1b31-df3d-4eec-a393-8729a50de750",
      "name": "Image Log",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "N6WHDVlgmsazQMFB",
          "name": "Google Sheets Estevao"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $('When Executed by Another Workflow').item.json.image }} (Edited).png",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1gCFonCFWg7ZxG3O4FC7PzcyslNqD8DQs",
          "mode": "list",
          "cachedResultName": "AI Image Generation",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1gCFonCFWg7ZxG3O4FC7PzcyslNqD8DQs"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        100,
        340
      ],
      "id": "18c3e360-4188-4055-85a5-63c01959014f",
      "name": "Upload Image",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ZUIlGLrMwDKeQ7yH",
          "name": "Google Drive Estevao"
        }
      }
    },
    {
      "parameters": {
        "content": "# Send Content",
        "height": 240,
        "width": 300,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "2bea713e-1931-41ad-a33f-7f9b6fdb6bad",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "# Write to Drive & Sheets",
        "height": 240,
        "width": 540,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        260
      ],
      "id": "eaeda35f-2400-49eb-b4a0-abb01977ab8d",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "# Trigger\n",
        "height": 260,
        "width": 260,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1020,
        120
      ],
      "id": "1a5bf731-e2a1-4c09-9431-42b3f2041a9d",
      "name": "Sticky Note5",
      "disabled": true
    },
    {
      "parameters": {
        "content": "# Download\n",
        "height": 260,
        "width": 220,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -740,
        120
      ],
      "id": "b8bb0654-4b35-42b1-acf3-d2b41b71a0a7",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.pictureID }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -680,
        200
      ],
      "id": "76ffedf5-79a3-42f0-95cc-0b00e80b42a8",
      "name": "Download",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ZUIlGLrMwDKeQ7yH",
          "name": "Google Drive Estevao"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-image",
        "instanceName": "MarketingIA",
        "remoteJid": "={{ $('When Executed by Another Workflow').item.json.chatID }}",
        "media": "data",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        100,
        80
      ],
      "id": "573b4e38-960e-4ae9-9389-a3e6c281b4b7",
      "name": "Envia Foto",
      "credentials": {
        "evolutionApi": {
          "id": "F2M2DxlrlBamXPvr",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Edit Image\n",
        "height": 260,
        "width": 460,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -500,
        120
      ],
      "id": "67155f98-3ae2-4f36-b485-2c65a253488e",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "image": "Camisa Vôlei Kazen",
          "request": "Adicionar tons de vermelho à camisa, criando um contraste harmonioso com a paleta azul e mantendo detalhes de branco e prata. Incorporar vermelho em alguns detalhes ondulados e nas laterais da camisa para transmitir energia e destaque.",
          "chatID": "559891192490@s.whatsapp.net",
          "pictureID": "1SQsyZuvS8oJqKCAXmtOv73e01VH5IKK-"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Image": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Upload Image",
            "type": "main",
            "index": 0
          },
          {
            "node": "Envia Foto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Image": {
      "main": [
        [
          {
            "node": "Image Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download": {
      "main": [
        [
          {
            "node": "Edit Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "04b0bdb2-b682-463d-aaa6-a82fe6c43874",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0898c7399aa93049ad6010af6ed31a0e76d8881cf91643b1268085f9df1972b4"
  },
  "id": "yXdPfLZYMJm7Ux0S",
  "tags": []
}